[Unit]
Description="Lauch 'zola build' on content change"

[Path]
User=__APP__
Group=__APP__
PathModified=__INSTALL_DIR__/content
PathModified=__INSTALL_DIR__/static
PathModified=__INSTALL_DIR__/templates
PathModified=__INSTALL_DIR__/config.toml
PathModified=__INSTALL_DIR__/themes
Unit=__APP__.service

[Install]
WantedBy=multi-user.target